.academy__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 128px;
  font-weight: 300;
  font-size: 14px;
  line-height: 34px;
  color: $color-midnight;
}

.academy__link:hover {
  .academy__logo path {
    fill: $color-midnight;
  }
}

.academy__link:active {
  .academy__logo path {
    fill-opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .academy__link {
    font-size: 18px;
    width: 153px;
  }
}
