.achievements {
  background-color: #E5E5E5;
}

.achievements__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $color-cerise;
}
