.adjustment-section {
  background-color: #F2F2F2;
}

.adjustment-section__submit {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $color-cerise;
}

.adjustment-section__cancel {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: hsla(211, 27%, 21%, .1);
}
