.adjustment-section {
  background-color: #F2F2F2;
}

.adjustment-section__submit {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #D22856;
}

.adjustment-section__cancel {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #283645;
}
