.benefit__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding-bottom: 12px;
}

.benefit__text {
  @include regular-text;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .benefit__text {
    display: inline-block;
    width: 310px;
    text-align: left;
    margin: 0;
  }
}
