.catalog-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

.catalog-main__title-wrapper {
  display: block;
  width: 320px;
  height: 171px;
  background: url(../img/back-mobile.jpg) no-repeat;
}

.catalog-main__title {
  width: 172px;
  font-size: 24px;
  line-height: 33px;
  margin: 0 auto;
  padding-top: 30px;
}

.catalog-main__text-1 {
  display: inline-block;
  width:250px;
  text-align: center;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 50px;
  @include regular-text(14px, 30px);
}

.catalog-main__panorama {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 320px;
  margin: 0;
}

.catalog-main__gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0;
}
.catalog-main__text-2 {
  display: inline-block;
  width: 280px;
  text-align: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 42px;
  @include regular-text(14px, 30px);
}
.catalog-main__adjustment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}


@media (min-width: $tablet-width) {
  .catalog-main {
    width: 660px;
  }
  .catalog-main__title-wrapper {
    display: block;
    width: 660px;
    height: 330px;
    background: url(../img/back-tablet.jpg) no-repeat;
  }

  .catalog-main__title {
    width: 358px;
    font-size: 50px;
    line-height: 68px;
    margin: 0 auto;
    padding-top: 66px;
  }

  .catalog-main__text-1  {
    width: 550px;
    font-size: 18px;
    padding-top: 91px;
    padding-bottom: 77px;
  }
  .catalog-main__panorama {
    width: 660px;
    margin-bottom: 50px;
  }
  .catalog-main__gallery {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 620px;
  }
  .catalog-main__text-2 {
    width: 422px;
    font-size: 18px;
    padding-top: 64px;
    padding-bottom: 70px;
  }
  .catalog-main__adjustment-section {
    display: grid;
    grid-template-columns: 320px 320px;
    grid-column-gap: 20px;
    width: 660px;
    padding-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main {
    width: 1200px;
  }
  .catalog-main__title-wrapper {
    display: block;
    width: 1200px;
    height: 394px;
    background: url(../img/back-desktop.jpg) no-repeat;
  }
  .catalog-main__title {
    padding-top: 169px;
  }

  .catalog-main__text-1 {
    width: 580px;
    font-size: 18px;
    padding-bottom: 89px;
  }
  .catalog-main__panorama {
    width: 1200px;
  }
  .catalog-main__gallery {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 55px;
    width: 940px;
  }
  .catalog-main__text-2 {
    width: 422px;
    font-size: 18px;
    padding-top: 57px;
    padding-bottom: 67px;
  }
  .catalog-main__adjustment-section {
    display: grid;
    width: 940px;
    grid-template-columns: 460px 480px;
    grid-column-gap: 0;
    padding-bottom: 54px;
    margin-bottom: 28px;
  }
}
