.checkbox-item__label {
  display: inline-block;
  @include regular-text(18px, 30px);
}

.checkbox-item label {
  padding-left: 60px;
}

.checkbox-item__input + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  background-color: #FFF;
  width: 35px;
  height: 35px;
  border: $input-border;
  border-radius: 2px;
}

.checkbox-item__input:checked + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  background: url(../img/tick.svg);
  background-repeat: no-repeat;
  background-size: 21px 16px;
  background-position: center;
  background-color: #FFF;
  width: 35px;
  height: 35px;
  border: $input-border;
}

.checkbox-item__input + label:hover::before {
  border-color: $color-midnight;
}

.checkbox-item__input + label:active::before {
  border-color: $color-cerise;
}
