.comment {
  background-color: #FFF;
}

.comment__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}

.comment__desc {
  display: none;
}

.comment__text {
  @include regular-text;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $mobile-width) {
  .comment__desc {
    display: inline-block;
    @include regular-text;
    line-height: 30px;
    text-align: center;
  }
  .comment__text {
    @include regular-text;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
