.comment-area__title {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $color-cerise;
}

.comment-area__field {
  font-weight: 300;
  font-size: 18px;
  text-align: left;
}
