.contact__text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000000;
}

.contact__telephone {
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}

.contact__mail {
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  color: #d22856;
}

.contact__address {
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  color: #d22856;
}
