.contact__text {
  display: inline-block;
  text-align: center;
  margin: 0;
  @include regular-text(18px, 25px, 400, #000);
}

.contact__telephone {
  display: inline-block;
  width: 250px;
  text-align: center;;
  margin: 0;
}

.contact__telephone-link {
  @include regular-text(24px, 33px, 200, $color-cerise);
  text-transform: uppercase;
}

.contact__telephone-link:hover {
  color: $color-cerise;
}

.contact__telephone-link:active {
  color: $color-cerise;
}

.contact__mail {
  text-align: center;
  margin: 0;
}

.contact__mail-link {
  @include regular-text(24px, 33px, 200, $color-cerise);
}

.contact__mail-link:hover {
  color: $color-midnight;
  border-bottom: solid 1px $color-midnight;
}

.contact__mail-link:active {
  color: $color-midnight;
  opacity: 0.3;
}

.contact__address {
  text-align: center;
  margin: 0;
  @include regular-text(24px, 33px, 200, $color-cerise);
}

@media (min-width: $tablet-width) {
  .contact__telephone,
  .contact__mail,
  .contact__address {
    padding-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .contact__telephone,
  .contact__mail,
  .contact__address {
    padding-top: 20px;
  }
}
