.contact__text {
  display: inline-block;
  text-align: center;
  margin: 0;
  @include regular-text(18px, 25px, 400, #000);
}

.contact__telephone {
  display: inline-block;
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  @include regular-text(24px, 33px, 200, $color-cerise);
}

.contact__mail {
  text-align: center;
  margin: 0;
  @include regular-text(24px, 33px, 200, $color-cerise);
}

.contact__address {
  text-align: center;
  margin: 0;
  @include regular-text(24px, 33px, 200, $color-cerise);
}

@media (min-width: $tablet-width) {
  .contact__telephone,
  .contact__mail,
  .contact__address {
    padding-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .contact__telephone,
  .contact__mail,
  .contact__address {
    padding-top: 20px;
  }
}
