@media (min-width: $tablet-width) {
  .extra {
    background-color: #FFF;
  }
  .extra__image {
    display: block;
    width: 310px;
    height: 276px;
    padding-top: 54px;
    padding-left: 20px;
    grid-row: 1 / 4;
  }
  .extra__title {
    display: inline-block;
    width: 170px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    padding-top: 95px;
  }
  .extra__text {
    .extra__text-hyphenation--line-1 {
      display: none;
    }
    display: inline-block;
    width: 308px;
    margin: 0;
    padding-top: 18px;
    @include regular-text(14px, 24px);
  }
  .extra__link {
    display: inline-block;
    width: 230px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    margin: 0;
    @include regular-text(14px, 24px, $color: $color-cerise);
  }
}

@media (min-width: $desktop-width) {
  .extra {
    background-color: $color-gray;
  }
  .extra__image {
    display: block;
    width: 500px;
    height: 412px;
    padding-top: 67px;
    padding-left: 30px;
    grid-row: 1 / 4;
    text-align: center;
  }
  .extra__title {
    .extra__title-hyphenation {
      display: none;
    }
    display: inline-block;
    width: 298px;
    line-height: 30px;
    padding-top: 163px;
  }

  .extra__text {
    .extra__text-hyphenation--line-1 {
      display: inline-block;
    }
    .extra__text-hyphenation--line-2 {
      display: none;
    }
    display: inline-block;
    width: 534px;
    margin: 0;
    padding-top: 23px;
    @include regular-text(18px, 30px);
  }
  .extra__link {
    display: inline-block;
    width: 290px;
    text-decoration: underline;
    margin: 0;
    @include regular-text(18px, 30px);
  }
}
