.form__submit {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color:#FFF;
  background-color: #2AAB6D;
}

.form__footnote {
  @include regular-text;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
