.form__submit {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color:#ffffff;
  background-color: #2AAB6D;
}

.form__footnote {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
