.full-name__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  padding-bottom: 16px;
  padding-left: 24px;
  @include regular-text(14px, 30px, $color: $color-cerise);
}

.full-name__input {
  @include form-input;
  width: 253px;
  text-align: left;
  margin-top: 5px;
  margin-left: -23px;
  padding-left: 21px;
  @include regular-text(18px, 30px);
}

.full-name__input:hover {
  border-color: $color-midnight;
}

.full-name__input:focus {
  outline-color: $color-cerise;
}

@media (min-width: $tablet-width) {
  .full-name__label {
    flex-direction: row;
    align-items: baseline;
    width: 620px;
    padding-bottom: 46px;
    padding-left: 0px;
  }
  .full-name__input {
    @include form-input;
    width: inherit;
    color: $color-midnight;
    margin-top: 5px;
    margin-left: 18px;
    padding-left: 21px;
  }
}

@media (min-width: $desktop-width) {
  .full-name__label {
    width: 435px;
    padding-bottom: 46px;
    padding-left: 0px;
  }
}
