.hit-ribbon__text {
  text-align: center;
  text-transform: uppercase;
  @include regular-text(14px, 24px, 300, #FFF);
  margin: 0;
}

@media (min-width: $tablet-width) {
  .hit-ribbon__text {
    text-align: center;
    text-transform: uppercase;
    @include regular-text(14px, 20px, 300, #FFF);
  }
}

@media (min-width: $desktop-width) {
  .hit-ribbon__text {
    text-align: center;
    text-transform: uppercase;
    @include regular-text(14px, 24px, 300, #FFF);
  }
}
