.hit-ribbon__text {
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  @include regular-text(14px, 24px, #FFF);
  margin: 0;
}

@media (min-width: $tablet-width) {
  .hit-ribbon__text {
    text-align: center;
    text-transform: uppercase;
    @include regular-text(14px, 20px, #FFF);
  }
}

@media (min-width: $desktop-width) {
  .hit-ribbon__text {
    text-align: center;
    text-transform: uppercase;
    @include regular-text(14px, 24px, #FFF);
  }
}
