.logo {
display: block;
width: 75px;
padding-top: 22px;
padding-bottom: 21px;
padding-left: 20px;
}

.logo__image {
  width: 74px;
}

.logo__image:hover {
  filter: invert(40%) sepia(78%) saturate(7114%) hue-rotate(330deg) brightness(86%) contrast(89%);
}

.logo__image:active {
  filter: none;
  opacity: 30%;
}

@media (min-width: $tablet-width) {
  .logo {
  display: block;
  width: 146px;
  padding-top: 17px;
  padding-bottom: 29px;
  padding-left: 20px;
  }
  .logo__image {
    width: 145px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
  display: block;
  width: 148px;
  padding-left: 130px;
  }
  .logo__image {
    width: 147px;
  }
  .logo__image:hover {
    filter: none;
  }

  .logo__image:active {
    filter: none;
    opacity: 100%;
  }
}
