.main-link {
  text-align: center;
  border: 3px solid #FFF;
  border-radius: 29px;
  @include regular-text(18px, 50px, 400, #FFF);
}

@media (min-width: $desktop-width) {
  .main-link {
    font-size: 21px;
  }
}
