.main-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 29px;
}

@media (min-width: $desktop-width) {
  .main-link {
    font-size: 21px;
  }
}
