.modal-negative {
  height: 290px;
}

.modal-negative__text {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
}

.modal-negative__desc {
  display: inline-block;
  color: $color-midnight;
  line-height: 24px;
  width: 280px;
  text-align: center;
  @include regular-text(14px, 24px);
}

.modal-negative__button {
  display: block;
  text-align: center;
  text-transform: uppercase;
  background-color: #2AAB6D;
  width: 280px;
  border: none;
  border-radius: 3px;
  margin-top: 25px;
  @include regular-text(18px, 61px, 400, #FFF);
  cursor: pointer;
}

.modal-negative__button:hover {
  background-color: #1C9B5E;
}

.modal-negative__button:active {
  color: rgba(255, 255, 255, .3);
}

.modal-negative__button:disabled {
  background-color: #E5E5E5;
}

@media (min-width: $tablet-width) {
  .modal-negative {
    height: 363px;
  }

  .modal-negative__text {
    display: inline-block;
    width: 240px;
    text-align: center;
    font-weight: 400px;
    font-size: 30px;
    line-height: 40px;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .modal-negative__desc {
    display: inline-block;
    width: 320px;
    text-align: center;
    @include regular-text(18px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .modal-negative {
    height: 363px;
  }

  .modal-negative__text {
    display: inline-block;
    width: 240px;
    text-align: center;
    font-weight: 400px;
    font-size: 30px;
    line-height: 40px;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .modal-negative__desc {
    display: inline-block;
    color: $color-midnight;
    font-size: 18px;
    line-height: 24px;
    width: 320px;
    text-align: center;
    @include regular-text(18px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .modal-negative {
    height: 386px;
  }
  .modal-negative__text {
    display: inline-block;
    width: 330px;
    text-align: center;
    font-weight: 400px;
    font-size: 30px;
    line-height: 40px;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .modal-negative__desc {
    display: inline-block;
    width: 351px;
    text-align: center;
  }

  .modal-negative__button-wrapper {
    width: 780px;
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: 39px;
  }
  .modal-negative__button {
    margin: 0 auto;
    margin-top: 30px;
  }
}
