.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.page-main__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.page-main__slogan-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding-top: 40px;
  padding-bottom: 3px;
}

.page-main__benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding-top: 82px;
  clip-path: polygon(0 3.5%, 100% 0, 100% 95%, 0 95%);
}

.page-main__comments {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding-bottom: 50px;
  background-color: #FFF;
}

.page-main__tarrifes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.page-main__features {

}

.page-main__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.page-main__map {
  display: block;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: 660px;
  }
  .page-main__intro {
    display: flex;
    align-items: flex-start;
    width: 660px;
  }
  .page-main__slogan-box {
    width: 660px;
    padding-top: 47px;
    padding-bottom: 32px;
  }
  .page-main__benefits {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 660px;
    padding-top: 73px;
  }
  .page-main__comments {
    width: 660px;
    top: auto;
  }
  .page-main__contacts {
    display: grid;
    width: 660px;
    top: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 1200px;
  }
  .page-main__intro {
    display: flex;
    width: 1200px;
    position: relative;
    z-index: -1;
  }
  .page-main__slogan-box {
    width: 1200px;
    padding-top: 62px;
  }
  .page-main__benefits {
    display: grid;
    width: 1200px;
  }
  .page-main__comments {
    width: 1200px;
    top: auto;
  }
  .page-main__contacts {
    display: grid;
    width: 1200px;
    top: auto;
  }
}
