.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

.page-footer__academy {
  display: inline-block;
  width: 100px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1200px;
  }
}
