.page-header {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  border-bottom: 1px solid #000;
  background-color: $color-midnight;
}

.page-header__toggle {
  padding: none;
  border:none;
  background-color: transparent;
  width: 50px;
  height: 24px;
}

.page-header__toggle::before {
  content: "";
  display: inline-block;
  background: url(../img/close-menu-btn.svg) no-repeat;
  width: 23px;
  height: 23px;
  cursor: pointer;
  padding-right: 12px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 660px;
  }
  .page-header__wrapper {
    width: 660px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    background-color: hsla(0, 0%, 0%, 0.3);
  }
  .page-header__wrapper {
    width: 450px;
    border-bottom: none;
    background-color: transparent;
  }
  .page-header__toggle {
    display: none;
  }
}
