.photo-section__image {
  display: block;
  width: 280px;
  font-size: 0;
  line-height: 0;
}

.photo-section__desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .photo-section__image {
    width: 300px;
  }
  .photo-section__desc {
    display: grid;
    grid-template-rows: 48px auto 47px;
    width: 300px;
    min-height: 155px;
  }
}

@media (min-width: $desktop-width) {
  .photo-section__desc {
    display: grid;
    grid-template-rows: 48px auto 47px;
    width: 300px;
    min-height: 155px;
  }
}
