.slogan-box__content {
  display: inline-block;
  width: 280px;
  padding-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .slogan-box__content {
    width: 588px;
    padding-bottom: 0px;
  }
}

@media (min-width: $desktop-width) {
  .slogan-box__content {
    width: 780px;
  }
}
