
.slogan-box__content {
  display: inline-block;
  width: 280px;
  margin: 0;
  padding: 0;
  padding-top: 46px;
}

@media (min-width: $tablet-width) {
  .slogan-box__content {
    width: 588px;
  }
}

@media (min-width: $desktop-width) {
  .slogan-box__content {
    width: 780px;
  }
}
