.user-contacts__title {
  display: none;
}

.user-contacts__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-cerise;
  padding-bottom: 16px;
  padding-left: 24px;
}

.user-contacts__input {
  @include form-input;
  width: 253px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: $color-midnight;
  margin-top: 5px;
  margin-left: -23px;
  padding-left: 21px;
}

@media (min-width: $tablet-width) {
  .user-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: $input-border;
    border-radius: 3px;
  }

  .user-contacts__title {
    display: inline-block;
    width: 260px;
    position: absolute;
    z-index: 1;
    top: -20px;
    background-color: #FFF;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $color-cerise;
  }

  .user-contacts__label {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 474px;
    font-weight: 300;
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    color: $color-cerise;
    padding-bottom: 15px;
    padding-left: 12px;

  }

  .user-contacts__input {
    @include form-input;
    width: inherit;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: $color-midnight;
    margin-top: 5px;
    margin-left: -19px;
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .user-contacts {
    display: grid;
    grid-template-columns: 426px 446px;
    position: relative;
    border: $input-border;
    border-radius: 3px;
  }

  .user-contacts__title {
    display: inline-block;
    grid-column: 1 / 3;
    left: 338px;
  }

  .user-contacts__label {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-self: end;
    margin-left: 0;
    width: 350px;
    font-weight: 300;
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    color: $color-cerise;
    padding-bottom: 4px;
  }

  .user-contacts__input {
    @include form-input;
    width: inherit;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: $color-midnight;
    margin-top: 5px;
    margin-left: -19px;
    padding-left: 20px;
  }
}
