@mixin regular-text($size: 14px, $line-height: null, $weight: 300, $color: $color-midnight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
}

@mixin form-input {
  border: $input-border;
  border-radius: 3px;
  height: 58px;
}
